.sidebar {
  height: 100vh;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  position: sticky;
  top: 0;
}

/* WIDTH CONTROL */
.sidebar.open {
  width: 240px;
}

.sidebar.closed {
  width: 70px;
}

/* TOP */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.toggle {
  cursor: pointer;
  font-size: 20px;
}

/* MENU */
.menu {
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  color: #cbd5e1;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.link:hover {
  background: rgba(255,255,255,0.08);
  color: white;
}

.link.active {
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  color: white;
  border-radius: 8px;
  margin: 5px 10px;
}

.icon {
  min-width: 30px;
}

.text {
  margin-left: 10px;
}

.active-bar {
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: #22c55e;
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  left: 70px;
  background: #111827;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  opacity: 0;
}

.sidebar.closed .link:hover .tooltip {
  opacity: 1;
}

/* LOGOUT */
.bottom {
  padding: 15px;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}