.flight-list-container {
  padding: 20px;
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

.flight-card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.flight-card:hover {
  transform: scale(1.02);
  background: #334155;
}

.delete-btn {
  margin-top: 10px;
  background: red;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}